<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-item-center pt-3 pb-2 border-bottom"
>
  <h1 class="h2">Inventory</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2"></div>
    <a href="/inventory/add" class="btn btn-sm btn-outline-secondary"
      >+ New Item</a
    >
  </div>
</div>
